{% extends "layout.html" %}
{% block content %}
<h1>About</h1>
<h3>What our model predicts</h3>
<p>
    Our model takes as input a list of the user's current courses and professors, alongside their GPA
    and completed credits and predicts their GPA by the end of the semester. The model takes historical course
    data and the difficulty of each professor.

    Furthermore, our model is specific towards McGill students by only training on McGill data, meaning our predictions follow the trends of McGill courses and McGill professors.
</p>

<h3>Our dataset</h3>
<div>
    <style scoped>
        .dataframe tbody tr th:only-of-type {
            vertical-align: middle;
        }
    
        .dataframe tbody tr th {
            vertical-align: top;
        }
    
        .dataframe thead th {
            text-align: right;
        }
    </style>
    <table border="1" class="table">
      <thead>
        <tr style="text-align: right;">
          <th></th>
          <th>course</th>
          <th>term</th>
          <th>avg</th>
          <th>alltime_avg</th>
          <th>prof</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>ACCT351</td>
          <td>F2016</td>
          <td>3.0</td>
          <td>2.991667</td>
          <td>Tsang, Desmond</td>
        </tr>
        <tr>
          <th>1</th>
          <td>ACCT351</td>
          <td>F2016</td>
          <td>3.0</td>
          <td>2.991667</td>
          <td>Abrams, Amanda</td>
        </tr>
        <tr>
          <th>2</th>
          <td>ACCT351</td>
          <td>F2016</td>
          <td>3.0</td>
          <td>2.991667</td>
          <td>Marianer, Michael</td>
        </tr>
        <tr>
          <th>3</th>
          <td>ACCT351</td>
          <td>F2016</td>
          <td>3.0</td>
          <td>2.991667</td>
          <td>Murray, Michael George</td>
        </tr>
        <tr>
          <th>4</th>
          <td>ACCT351</td>
          <td>W2017</td>
          <td>3.0</td>
          <td>2.991667</td>
          <td>Abrams, Amanda</td>
        </tr>
      </tbody>
    </table>
    </div>
<p>
    To get historical course data, we used 
    <a
     href="https://docs.google.com/spreadsheets/d/1NGUBQuF8FI6ebna86S1RHpc27srxpMbaSyjipIkr-gk/edit#gid=233834959" 
     class="link-primary"
     target="_blank"
     >crowdsourced data from McGill Enhanced
    </a>. 
    This dataset contained
    the majority of our required data, except that it was missing a professor column. We created a 
    web scraper using 
    <a 
    href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/" 
    class="link-primary"
    target="_blank"
    >Beautiful Soup</a> to retrieve professor names for 
    every instance.
    In addition, we added an <b>all-time average</b> column that has the all-time course average.
</p>
<h3>How the model works</h3>
<img src="{{ url_for('static', filename='Images/alpha.png') }}">
<p>
    Our model follows an Exponential Moving Average (EMA) model that uses historical class average data in order to predict the next class average in conjunction with prof difficulty. This will place a higher importance on recent data to predict the next class average.
    <p></p>
    \[Average_t = \alpha*ClassAverage_{t-1} + (1-\alpha)Average_{t-1} + Prof\]
    Where the Prof value is the associated difficulty of the prof with a coefficient of 1, found through linear regression between the class average and professor difficulty in R.
    \[Prof = \sum^n_i \bar X{prof,i} -\bar X_{overall, i} \\ \text{for ith course in n courses}\]
  
    Thus, we can use the \(Average_t\) equation to find the next predicted class average and put this into the GPA equation.
    <p></p>
    \[GPAt = \frac{TotalCredits_{t-1}GPA_{t-1} + \sum credits_i * Average_{t,i}}{TotalCredits_{t-1} + \sum credits_i}\]
</p>
<h3>Postscript on R</h3>
<p>
<img src="{{ url_for('static', filename='Images/graph.png') }}">
<img src="{{ url_for('static', filename='Images/residuals.png') }}">

Our model found, through simple linear regression in R, that there is a one to one increase between the professor score and the overall course average.
</p>
<script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock content %}